# Clasificador

In [51]:
import csv
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import Imputer
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix

# Lectura del archivo

In [13]:
datos = pd.read_csv('bank-additional-full.csv', sep=';')
#print(datos['y'])

datosPr = datos
datosPr.describe(include= 'all')

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
count,41188.00000,41188,41188,41188,41188,41188,41188,41188,41188,41188,...,41188.000000,41188.000000,41188.000000,41188,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188
unique,NaN,12,4,8,3,3,3,2,10,5,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,2
top,NaN,admin.,married,university.degree,no,yes,no,cellular,may,thu,...,NaN,NaN,NaN,nonexistent,NaN,NaN,NaN,NaN,NaN,no
freq,NaN,10422,24928,12168,32588,21576,33950,26144,13769,8623,...,NaN,NaN,NaN,35563,NaN,NaN,NaN,NaN,NaN,36548
mean,40.02406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.567593,962.475454,0.172963,NaN,0.081886,93.575664,-40.502600,3.621291,5167.035911,NaN
std,10.42125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.770014,186.910907,0.494901,NaN,1.570960,0.578840,4.628198,1.734447,72.251528,NaN
min,17.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,NaN,-3.400000,92.201000,-50.800000,0.634000,4963.600000,NaN
25%,32.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,999.000000,0.000000,NaN,-1.800000,93.075000,-42.700000,1.344000,5099.100000,NaN
50%,38.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,999.000000,0.000000,NaN,1.100000,93.749000,-41.800000,4.857000,5191.000000,NaN
75%,47.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000000,999.000000,0.000000,NaN,1.400000,93.994000,-36.400000,4.961000,5228.100000,NaN
max,98.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.000000,999.000000,7.000000,NaN,1.400000,94.767000,-26.900000,5.045000,5228.100000,NaN

In [25]:
#Identificar valores perdidos
for value in ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
             'month', 'day_of_week','campaign', 'poutcome', ]:
    print (value,":", sum(datosPr[value] == '?'))

job : 0
marital : 0
education : 0
default : 0
housing : 0
loan : 0
contact : 0
month : 0
day_of_week : 0
poutcome : 0

# Procesamiento de datos

In [31]:
#transformar los datos categoricos
le = preprocessing.LabelEncoder()
job_cat = le.fit_transform(datos.job)
marital_cat = le.fit_transform(datos.marital)
education_cat   = le.fit_transform(datos.education)
default_cat = le.fit_transform(datos.default)
housing_cat = le.fit_transform(datos.housing)
loan_cat = le.fit_transform(datos.loan)
contact_cat = le.fit_transform(datos.contact)
month_cat = le.fit_transform(datos.month)
day_of_week_cat = le.fit_transform(datos.day_of_week)
campaign_cat = le.fit_transform(datos.campaign)
poutcome_cat = le.fit_transform(datos.poutcome)

#initialize the encoded categorical columns
datosPr['job_cat'] = job_cat
datosPr['marital_cat'] = marital_cat
datosPr['education_cat'] = education_cat
datosPr['default_cat'] = default_cat
datosPr['housing_cat'] = housing_cat
datosPr['loan_cat'] = loan_cat
datosPr['contact_cat'] = contact_cat
datosPr['month_cat'] = month_cat
datosPr['day_of_week_cat'] = day_of_week_cat
datosPr['campaign_cat'] = campaign_cat
datosPr['poutcome_cat'] = poutcome_cat

#Eliminar las columnas orginales
borrar_columnas = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
             'month', 'day_of_week','campaign', 'poutcome', ]

datosPr = datosPr.drop(borrar_columnas, axis = 1)
#print(datosPr)

ValueError: labels ['job' 'marital' 'education' 'default' 'housing' 'loan' 'contact' 'month'
 'day_of_week' 'campaign' 'poutcome'] not contained in axis

In [35]:
#Organizar las columnas
datosPr = datosPr.reindex_axis(['age', 'job_cat', 'marital_cat', 'education_cat',
                                    'default_cat', 'housing_cat', 'loan_cat',
                                    'contact_cat', 'month_cat', 'day_of_week_cat', 'duration',
                                    'campaign_cat', 'pdays', 'previous', 
                                    'poutcome_cat', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
                               'nr.employed', 'y'], axis= 1)

,age,job_cat,marital_cat,education_cat,default_cat,housing_cat,loan_cat,contact_cat,month_cat,day_of_week_cat,...,campaign_cat,pdays,previous,poutcome_cat,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,...,0,999,0,1,1.1,93.994,-36.4,4.857,5191.0,no

# Estandarizar datos

In [37]:
columnas = ['age', 'job_cat', 'marital_cat', 'education_cat',
                                    'default_cat', 'housing_cat', 'loan_cat',
                                    'contact_cat', 'month_cat', 'day_of_week_cat', 'duration',
                                    'campaign_cat', 'pdays', 'previous', 
                                    'poutcome_cat', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
                               'nr.employed']

scaled_features = {}
for i in columnas:
    mean, std = datosPr[i].mean(), datosPr[i].std()
    scaled_features[i] = [mean, std]
    datosPr.loc[:, i] = (datosPr[i] - mean)/std

# Division de datos para el entrenamiento y pruebas

In [52]:
caracteristicas = datosPr.values[:,:20]
objetivo = datosPr.values[:,20]

caracteristicas_train, caracteristicas_test,objetivo_train, objetivo_test = train_test_split(caracteristicas,
                                                                                             objetivo, test_size = 0.33, 
                                                                                             random_state = 10)
clasificador = GaussianNB()
clasificador.fit(caracteristicas_train, objetivo_train)
obj_pred = clasificador.predict(caracteristicas_test)

#Se muestra la precision del modelo y la matriz de confusion

print ('Precision: ', accuracy_score(objetivo_test, obj_pred, normalize = True))
print ('Matriz de Confusion\n', confusion_matrix(objetivo_test, obj_pred))
print ('Filas: Valor Real\nColumnas: Valor Predicho')

Precision 0.842198190245
Matriz de Confusion
 [[10534  1485]
 [  660   914]]
Filas: Valor Real
Columnas: Valor Predicho